azure-cli
azure-identity
azure-mgmt-monitor
azure-mgmt-consumption
azure-mgmt-storage
azure-mgmt-subscription
azure-mgmt-resource 
azure-storage-blob
azure-data-tables
azure-core
pytest
pytest_mock
ruff
python-dateutil
pytest-cov
python-dotenv
pytz
azure-functions
requests
openpyxl
azure-keyvault-secrets
pandas==2.1.1
